[Unit]
Description=Genesis VPN Server Agent
After=network-online.target

[Service]
TimeoutStopSec=5
Restart=on-failure
RestartSec=5s
KillSignal=SIGINT
ExecStart=genesis-vpn-server-agent --config-file /etc/genesis_vpn/genesis_vpn.conf

[Install]
WantedBy=multi-user.target
